<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.spring.rentcar.boardMapper">

	<insert id="create" parameterType="BoardVO">
		insert into board(title, content, writer) values(#{title}, #{content}, #{writer})
	</insert>
	
	<select id="read" parameterType="int" resultType="BoardVO">
		select * from board where bno = #{bno}
	</select>

	<update id="update" parameterType="BoardVO">
		update board set title = #{title}, content = #{content} where bno = #{bno} 
	</update>
	
	<delete id="delete" parameterType="int">
		delete from board where bno = #{bno}
	</delete>
	
	<select id="listAll" resultType="BoardVO">
		
		<![CDATA[	
		select * from board where bno > 0 order by bno desc, regDate desc
		]]>
	</select>

	<select id="listPaging" parameterType="int" resultType="BoardVO">
	
		<![CDATA[
		select * from board where bno > 0 order by bno desc, regDate desc limit #{page}, 10
		]]>
	</select>

	<select id="listCriteria" parameterType="Criteria" resultType="BoardVO">
	
		<![CDATA[
		select * from board where bno > 0 order by bno desc, regDate desc limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="totalCount" resultType="int">
		select count(*) from board where bno > 0
	</select>
	
	<select id="listSearchCriteria" parameterType="SearchCriteria" resultType="BoardVO">
		<![CDATA[
		select * from board where bno > 0 
		]]>
		<include refid="search"/>
		
		<![CDATA[
		order by bno desc, regDate desc limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="searchTotalCount" resultType="int">
		
		<![CDATA[
		select count(*) from board where bno > 0
		]]>
		
		<include refid="search"/>
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like concat('%',#{keyWord},'%')
			</if>
			<if test="searchType == 'c'.toString()">
				and content like concat('%',#{keyWord},'%')
			</if>
			<if test="searchType == 'w'.toString()">
				and writer like concat('%',#{keyWord},'%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title like concat('%',#{keyWord},'%') or content like concat('%',#{keyWord},'%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( content like concat('%',#{keyWord},'%') or writer like concat('%',#{keyWord},'%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				and ( title like concat('%',#{keyWord},'%') or content like concat('%',#{keyWord},'%') or writer like concat('%',#{keyWord},'%'))
			</if>
		</if>
	</sql>	
</mapper> 